/*
   Copyright 2018 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
*/

.digit-input {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}